{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<h2>Servidor rodando!</h2>
<p>Mapa de rotas:</p>

<a href="{{ url_for('filtros') }}">
    <button>Filtros</button>
</a>
<br><br>
<a href="{{ url_for('teste', nome='Visitante') }}">
    <button>Testes</button>
</a>
<br><br>
<a href="{{ url_for('image') }}">
    <button>Imagens</button>
</a>
<br><br>
<a href="{{ url_for('formulario') }}">
    <button>Formulário</button>
</a>
<br><br>
<a href="{{ url_for('calculadora') }}">
    <button>Calculadora IMC</button>
</a>
<br><br>
<a href="{{ url_for('numeros') }}">
    <button>Raspagem de números</button>
</a>
{% endblock %}