<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="" method="post">
        <label>Email:</label>
        <input type="email" name="emailForm" required><br><br>

        <label>Senha:</label>
        <input type="password" name="senhaForm" required minlength="6"><br><br>

        <input type="submit" value="Entrar">
    </form>
    <a href="{{ url_for('home') }}">
      <button>Voltar</button>
    </a>
</body>
</html>