<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
</head>
<body>
    <h1>Editar Contato:</h1>
    <form action="" method="post">
        Nome: <input type="text" name="nomeForm" value="{{contato.nome}}"><br>
        Telefone: <input type="text" name="telefoneForm" value="{{contato.telefone}}"><br>
        <input type="submit" value="Editar">
    </form>
    <br>
    <a href="/">Voltar</a>
</body>
</html>