<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contatos:</h1>
    <ul>
        {% for contato in contatos %}
        <li>{{ contato.nome }} - {{ contato.telefone }} : 
            <a href="/editar/{{contato.id}}">Editar</a>
            <a href="/deletar/{{contato.id}}">Deletar</a></li>
        {% endfor %}
    </ul>
    <a href="/registrar">Registrar</a>
</body>
</html>